<!doctype html>
<html lang="ko">
    <head>
    <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <style>
.chat-write {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: grey;
}
.chats {
    padding: 20px;
}
.chat {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}
        </style>
    </head>
    <body>
        <div class="chats">
{% for chat in chats %}
            <div class="chat">
                {{ chat }}
            </div>
{% endfor %}
        </div>
        <div class="chat-write">
            <form method="POST" action="/chat/write">
                <input type="text" name="content" class="form-control" placeholder="내용입력">
                <input type="submit" class="btn btn-info btn-block" value="입력">
            </form>
        </div>
        <script>
// 최신 채팅만 받아오기 위해 마지막 채팅 번호를 저장
var last_chat = 0

function fetchChats() {
    var chats = []; // 채팅목록
    $.ajax({
        url: '/chat/data',          // 요청할 URL
        method: 'GET',       // HTTP Method
        dataType: 'json',    // 응답 결과의 형태
        
        data: {'last_chat': last_chat},  // 이미 받아온 채팅 이후에 새로 추가된 채팅만 받아오기 위해 인자 전달
        success: function(data, textStatus, jqXHR) {
            // 성공 했을 때
            
            /*
            arr = ['a', 'b', 'c']
            for (var i = 0; i < arr.length; i++) {
                arr[i]
            }
            for (var i in arr) {
                // i == 0, 1, 2
            }
            for (var a of arr) {
                // a == 'a', 'b', 'c'
            }
            */
            
            for (var chat of data.chats) {                
                $('.chats').append('<div class="chat">'+chat+'</div>')
            }
            // 마지막 채팅 ID도 기억
            last_chat = data.last_chat
            window.scrollTo(0, document.body.scrollHeight);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // 실패 했을 때
            alert('오류가 발생하였습니다.')
        },
        complete: function(jqXHR, textStatus) {
            // 성공을 하든, 실패를 하든, 다 끝났을 때
            
            // 나 자신(채팅을 불러오는 함수)을 3초 뒤에 다시 호출
            // long polling에서는 클라이언트에서 기다려줄 이유는 없음
            setTimeout(fetchChats, 0)
        }
    })
}
// 페이지가 열렸을때 한번 실행되도록 호출
fetchChats()
$('form').on('submit', function(event) {
    // 원래 이 이벤트가 작동할때 실행이 되었을 기본 이벤트를 비활성화
    event.preventDefault()
    
    // input에 입력된 값을 가져오기
    var content = $('input[name=content]').val()
    // 값을 가지고온 뒤에 입력창을 비워주기
    $('input[name=content]').val('')
    
    $.ajax({
        url: '/chat/write',          // 요청할 URL
        method: 'POST',       // HTTP Method
        data: {'content': content},
        success: function(data, textStatus, jqXHR) {
            
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // 실패 했을 때
            alert('오류가 발생하였습니다.')
        },
        complete: function(jqXHR, textStatus) {
            // 성공을 하든, 실패를 하든, 다 끝났을 때
            
        }
    })
})
        </script>
    </body>
</html>